%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="#{@video.large_cover}")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %br
          %h3= @video.rating
          - if @video.average_ratings.present?
            %h4 Ratings: #{@video.average_ratings} / 5.0
          - else
            %h4 No Reviews
        %p= @video.description
        .actions
          = link_to "Watch Now", @video.video_url, class: "btn btn-primary"
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), |
          class: "btn btn-danger", method: "post" unless current_user.already_queued?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, @review], method: "post" do |f|
        = f.select :ratings, options_for_video_review, label: "Rate a video"
        = f.text_area :description, rows: 6, label: "Write a review"
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: "btn"
          = link_to "Cancel", @video

      %header
        %h3= "User Reviews (#{@video.reviews.length})"
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: #{review.ratings} / 5"
                %p= link_to "by #{review.user.full_name}", review.user
              .col-sm-8
                %p= "#{time_ago_in_words(review.created_at)} ago."
                %p= review.description