%nav.navbar.navbar-default#top-header.row
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "MyFLiX", root_path, class: "navbar-brand"
    / Collect the nav links, forms, and other content for toggling
    - if current_user
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li= link_to "Videos"
          %li= link_to "My Queue", my_queue_path
          %li= link_to "People", people_path
        .navbar-form.navbar-left
          = render 'shared/search'
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown
            = link_to "#", id: "dlabel", role: "button", data: {toggle: "dropdown", target: "#"}, class: "dropdown-toggle" do
              = "Welcome, #{first_name(current_user.full_name)}"
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                %a(href="#") Account
                %a(href="#") Plan and Billing
                = link_to "Invite", new_invitation_path
                = link_to "Sign Out", sign_out_path